<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đổi mật khẩu</title>
</head>
<body>
    <div>Chào bạn!</div>
    <div></div>
    <div>Theo thông tin xác nhận từ bên Hiring Page bạn đang muốn thực hiện việc đổi mật khẩu</div>
    <div>Chúng tôi vừa mới gửi cho bạn 1 đường link để reset lại mật khẩu của bạn</div>
    <div></div>
    <div>Để thực hiện việc đổi mật khẩu, vui lòng bạn click vào link bên dưới:</div>
    <a href="{{url}}/forgotPassword?tokenPassword={{tokenPassword}}&amp;email={{email}}">{{url}}/forgotPassword?tokenPassword={{tokenPassword}}&amp;email={{email}}</a>
</body>
</html>